// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Admin
@import "admin/admin";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.login-sign {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-self: center;
  align-items: center;
  color: rgb(55, 55, 55);
  background-color: #f8f8f8;
  border-color: #c1c1c1;
  border-radius: 10px;
  padding: 2rem;

  input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
      margin-bottom: 1rem;

      &:last-child {
        margin-top: 2rem;
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        border-radius: 5px;
        opacity: 0.85;

        &:hover {
          opacity: 1;
        }
      }
  }
}
